MAX31790-Breakout-Board-backups/
~MAX31790-Breakout-Board.kicad_sch.lck
fp-info-cache
~_autosave-MAX31790-Breakout-Board.kicad_pcb.lck
_autosave-MAX31790-Breakout-Board.kicad_pcb
\#auto_saved_files#
~MAX31790-Breakout-Board.kicad_pcb.lck
